.movies {
  padding: 11.25vw 5.46875vw 6.25vw;
}

@media (max-width: 800px) {
  .movies {
    padding: 154px 30px 80px;
  }
}

@media (max-width: 500px) {
  .movies {
    padding: 90px 10px 80px;
  }
}
