.student {
  width: 100%;
  background-color: #202020;
  padding: 8.59375vw  5.46875vw 9.765625vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.student__textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5.15625vw;
}

.student__title {
  font-weight: normal;
  font-size: 3.90625vw;
  line-height: 116%;
  letter-spacing: -0.04em;
  margin: 0;
}

.student__subtitle {
  font-weight: 500;
  font-size: 1.40625vw;
  line-height: 111%;
  mix-blend-mode: normal;
  padding: 1.40625vw 0 2.03125vw;
  margin: 0;
}

.student__text {
  font-weight: normal;
  font-size: 1.09375vw;
  line-height: 157%;
  max-width: 46.875vw;
  mix-blend-mode: normal;
  padding-bottom: 7.734375vw;
}

.student__link {
  font-weight: 500;
  font-size: 1.09375vw;
  line-height: 121%;
  text-decoration: none;
  color: #FFFFFF;
}

.student__image {
  max-width: 21.09375vw;
  height: max-content;
  border-radius: 0.78125vw;
}

.student__portfolio-title {
  font-weight: normal;
  font-size: 1.40625vw;
  line-height: 111%;
  color: #8B8B8B;
  mix-blend-mode: normal;
  padding: 7.8125vw 0 2.34375vw;
  margin: 0;
}

.student__portfolio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.student__portfolio-list-element {
  padding-top: 1.5625vw;
}

.student__portfolio-list-element:not(:last-child) {
  padding-bottom: 1.484375vw;
  box-sizing: border-box;
  border-bottom: 0.078125vw solid #424242;
}

.student__portfolio-link {
  font-weight: normal;
  font-size: 2.34375vw;
  line-height: 167%;
  letter-spacing: -0.04em;

  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 800px) {
  .student {
    padding: 90px 50px;
  }
  .student__textbox {
    padding-top: 66px;
  }
  .student__title {
    font-size: 40px;
  }
  .student__subtitle {
    font-size: 12px;
    padding: 16px 0 20px;
  }
  .student__text {
    font-size: 12px;
    max-width: 364px;
    padding-bottom: 87px;
  }
  .student__link {
    font-size: 14px;
  }
  .student__image {
    max-width: 35vw;
    border-radius: 10px;
    margin-left: 10px;
  }
  .student__portfolio-title {
    font-size: 18px;
    padding: 90px 0 30px;
  }
  .student__portfolio-list-element {
    padding-top: 20px;
  }
  .student__portfolio-list-element:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
  }
  .student__portfolio-link {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .student {
    padding: 70px 14px;
  }
  .student__textbox {
    flex-direction: column-reverse;
  }
  .student__image {
    max-width: 100%;
    margin: 0 0 40px 0;
  }
  .student__title {
    font-size: 30px;
  }
  .student__subtitle {
    font-size: 11px;
    padding: 20px 0;
  }
  .student__text {
    font-size: 11px;
    padding-bottom: 40px;
  }
  .student__portfolio-title {
    font-size: 14px;
    padding: 70px 0 20px;
  }
  .student__portfolio-link {
    font-size: 18px;
  }
}
