.movies__card-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(21.09375vw, 1fr));
  grid-template-rows: max-content;
  gap: 2.96875vw 1.5625vw;
  padding-top: 5.46875vw;
}

.movies__addbutton {
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  display: none;
  justify-self: center;
  margin: 3.90625vw auto 0;
  background-color: transparent;
  border: 0.078125vw solid #424242;
  border-radius: 0.390625vw;
  padding: 0.78125vw 11.5625vw;
}

.movies__addbutton_active {
  display: flex;
}

@media (max-width: 1279px) {
  .movies__card-list {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

@media (max-width: 800px) {
  .movies__card-list {
    gap: 30px;
  }
  .movies__addbutton {
    font-size: 12px;
    margin: 50px auto 0;
    border: 1px solid #424242;
    border-radius: 5px;
    padding: 10px 148px;
  }
}
