.footer {
  height: max-content;
  padding: 6.171875vw 5.46875vw 1.5625vw;
  box-sizing: border-box;
}

.footer__text {
  font-weight: normal;
  font-size: 1.015625vw;
  line-height: 123%;
  text-align: center;
  color: #8B8B8B;
  padding-bottom: 1.5625vw;
}

.footer__main-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: normal;
  font-size: 1.015625vw;
  line-height: 123%;
  padding-top: 1.5625vw;
  border-top: solid 0.078125vw #424242;
}

.footer__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  color: #fff;
}

.footer__list-element:not(:last-child) {
  margin-right: 1.5625vw;
}

@media (max-width: 800px) {
  .footer {
    height: max-content;
    padding: 79px 30px 20px;
  }
  .footer__text {
    font-size: 13px;
    padding-bottom: 20px;
  }
  .footer__main-block {
    font-size: 13px;
    padding-top: 20px;
    border-top: 1px solid #424242;
  }
  .footer__list-element:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 79px 10px 10px;
  }
  .footer__main-block {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
    font-size: 12px;
  }
  .footer__list-element:not(:last-child) {
    margin: 0 0 12px 0;
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
  }
  .footer__copyright {
    padding-top: 30px;
    color: #8B8B8B;
  }
}
