.navigation {
  display: flex;
  align-items: center;
}
.navigation__link {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;

  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: color .2s, background-size .3s;
}

.navigation__link:hover {
  background-size: 100% 2px;
}

.navigation__link:not(:last-child) {
  margin-right: 16px;
}

.navigation__link_active {
  font-weight: 500;
  background-size: 100% 2px;
}

.navigation__account {
  font-size: 14px;
  line-height: 114%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
}

.navigation__link_main {
  display: none;
}

.navigation__account_menu {
  display: none;
}

@media (max-width: 800px) {
  .navigation {
    position: fixed;
    top: 0;
    right: -520px;
    transition: .2s;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 520px;
    width: 100%;
    box-sizing: border-box;
    background-color: #202020;
    padding: 159px 0 92px;
    z-index: 2;
  }
  .navigation__account {
    display: none;
  }
  .navigation__account_menu {
    display: flex;
    margin-top: auto;
  }
  .navigation__link_main {
    display: flex;
  }
  .navigation.navigation_active {
    right: 0;
    transition: .4s;
  }
  .navigation__link {
    font-size: 18px;
    margin-bottom: 22px;
    padding-bottom: 6px;
  }
}

@media (max-width: 500px) {
  .navigation {
    padding: 144px 0 55px;
  }
}
