.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.form__label {
  font-weight: normal;
  font-size: 0.78125vw;
  line-height: 120%;
  color: #8B8B8B;
  padding-bottom: 0.78125vw;
}

.form__input {
  padding: 1.171875vw;
  outline: none;
  border: none;
  background: #2F2F2F;
  border-radius: 0.625vw;
  font-weight: 500;
  font-size: 1.015625vw;
  line-height: 123%;
  color: #FFF;
  transition: background-color 5000s;
}

input::placeholder {
  color: #8B8B8B;
}

.form__input_error {
  color: #EE3465;
}

.form__error {
  visibility: hidden;
  min-height: 1.171875vw;
  font-weight: normal;
  font-size: 0.78125vw;
  line-height: 120%;
  color: #EE3465;
  padding-top: 0.390625vw;
}

.form__error_active {
  visibility: visible;
}

.form__button {
  margin-top: auto;
  width: 100%;
  height: 3.515625vw;
  background: #4285F4;
  border-radius: 0.234375vw;
  color: #fff;
  font-weight: normal;
  font-size: 1.09375vw;
  line-height: 121%;
}

@media (max-width: 800px) {
  .form__label {
    font-size: 10px;
    padding-bottom: 10px;
  }
  .form__input {
    padding: 15px;
    border-radius: 8px;
    font-size: 13px;
  }
  .form__error {
    min-height: 12px;
    font-size: 10px;
    padding: 2px 0 8px;
  }
  .form__button {
    height: 45px;
    border-radius: 3px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .form__button {
    font-size: 12px;
  }
}
